
<style>
    .stop-flag {
        color: red
    }
    .move-flag {
        color: green
    }
</style>
<table id="report-tbl" class="table table-bordered table-striped" >
    <thead>
    <tr>
        <th field="MotionStatus">
            Etat de .Cond
        
        </th>

        <th  field="StartPeriod1">
            Tmp. Départ
        </th>
        <th field="EndPeriod1">
            Tmp. Arrivée
        </th>
        <th field="Distance">
            Distance (Km)
        </th>
     
        <th field="StartAddres">
            Adresse départ
        </th>
        <th field="ArrivalAddres">
            Adresse Arrivée
        </th>
        <th field="Duration">
            Durrée
        </th>
    </tr>
    </thead>

    <tr ng-repeat="item in targetList">
        <td>
            <i class="fa fa-flag" ng-class="item.MotionStatus=='Arrêt'?'stop-flag': 'move-flag'"></i> {{item.MotionStatus}}
        </td>

        <td>
           {{item.StartPeriod1}}
        </td>
        <td>
            {{item.EndPeriod1}}
        </td>
        <td>
            {{item.Distance}}
        </td>
       
       
        
        <td style="max-width: 100px">
            {{item.StartAddres}}
        </td>
        <td style="max-width: 100px">
            {{item.ArrivalAddres}}
        </td>
        <td>
            {{item.Duration}}
        </td>
       

        </tr>


</table>
