<header class="main-header">
    <!-- Logo -->
    <a href="@Url.Action("Index" ,"Home")" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->

        <span class="logo-lg"><b>Smart</b>Fleet</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
            <!-- Messages: style can be found in dropdown.less-->
            <li class="dropdown messages-menu">



                <a title="Position" id="btn-position" href="#"> <i class="fa fa-map-marker fa-lg"></i></a>


            </li>
            <!-- Notifications: style can be found in dropdown.less -->
            <li class="dropdown notifications-menu">
                <a title="Rappot" id="btn-report" href="#"> <i class="fa fa-calendar "></i></a>

            </li>
            <!-- Tasks: style can be found in dropdown.less -->
            <li>
                <a href="#" data-toggle="control-sidebar"><i class="fa fa-address-card fa-lg"></i></a>
            </li>
            <li>
                <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears fa-lg"></i></a>
            </li>

            <li class="dropdown tasks-menu">
                <a href="#"><i class="fa fa-bell fa-lg"></i></a>

            </li>
            <li class="dropdown tasks-menu">
                <a href="#"><i class="fa fa-power-off fa-lg"></i></a>

            </li>
            <!-- User Account: style can be found in dropdown.less -->
            <!-- Control Sidebar Toggle Button -->

        </ul>
    </div>
</header>

