

<div id="position-sec" style="margin: 0;padding: 0">
    <ul  >
        <li><a  href="#chr">chronogramme</a></li>

        <li><a  href="#targets">Trajets</a></li>

    </ul>
    <div id="chr" class="tab-pane fade in active">
        <div class="row" id="tachy-dashboard" style="margin-left: 10px; margin-bottom: 25px">
            <h6 id="vehicle-name" class="col-md-4"></h6>
            <h6 id="date-pos" class="col-md-2"></h6>
            <h6 id="begin-ser" class="col-md-3"></h6>
            <h6 id="end-ser" class="col-md-3"></h6>
            <div class="col-md-12" id="gps-activity" style="width: 99%">

                <div id="wait"></div>
            </div>
        </div>
    </div>
    <div id="targets">

    </div>
</div>