<form method="post">
    <div class="form-group ">
        <label class="control-label " for="select">
            Véhicules
        </label>
        <select style="width:100%" class="form-control" id="vehicles-pos" ng-model="vehicleId">
            <option ng-repeat="vehicle in vehicles" value="{{vehicle.Id}}">{{vehicle.VehicleName}}</option>

        </select>
    </div>
    <div class="form-group ">
        <label class="control-label " for="text">
            Date
        </label>
        <div class="input-group date">
            <input autocomplete="off" class="form-control" type="text" id="startPeriod-pos" ng-model="startPeriod"/>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>

    </div>
    
</form>
