<style>
    .jbox-t {
        margin-top: -23px !important;
        margin-left: -10px !important;
    }
    #TabPanelPosition {
        position: absolute;
        z-index: 1000;
        margin-top: -180px;
    }

    /*.ui-layout-pane, .ui-layout-resizer {
        top: 60px !important
    }*/
</style>
<link href="~/dist/plugins/select2/select2.bootstrap.css" rel="stylesheet" />
<link href="~/dist/plugins/select2/select2.min.css" rel="stylesheet" />


<div id="Modal-2" ui-view class="ui-layout-center"  style="top: 0px !important; height: 100%;width: 100%">
    
    <div id="map" class="map" style="height: 100%; width: 100%">
        <input type="hidden" value="@ViewBag.GroupName" id="client-group"/>
    </div>
    <div id="chrnogram">
        @{
            Html.RenderAction("GetCurrentposition", "Position");
        }

    </div>
</div>

<div class="ui-layout-west" style="top: 0 !important;width: 300px" >
    
    <div id="accordion" class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion"  href="#poition"> <i class="la la-map-marker "></i> Position actuelle </a>
                </h4>
            </div>
            <div id="poition" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="panel-body" style="height: 70%;overflow: auto;">
                        <div class="input-group" style="margin-top: -10px">
                            <input type="text" class="form-control" placeholder="Search node .." id="search">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" id="btn-search">Go!</button>
                            </span>
                        </div>
                        <nav id="left-panel" style="margin-top: 10px" role="navigation">
                            
                            <div id="container">

                            </div>
                        </nav>
    
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default"  >
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2"><i class="la la-map "></i> Historique de trajets </a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse" ng-controller ="positionController">
                <div class="panel-body">
                    @{
                        Html.RenderPartial("_PositionForm");
                    }
                </div>
            </div>
        </div>
        <div class="panel panel-default" ng-controller="reportController" >
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><i class="la la-pie-chart "></i> Rapport par date </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse ">
                <div class="panel-body">
                    @{
                        Html.RenderPartial("_ReportForm");
                    }
                </div>
            </div>
        </div>
        
    </div>
    <div style="display: none" id="posi-search">
        @{
            Html.RenderPartial("_PositionByPeriodFrm");
        }
    </div> 
    <div style="display: none" id="driver-frm">
        @{
            Html.RenderPartial("_CreateDriver");
        }
    </div> 
     
     
  
   
</div>

@section scripts
{
    <script src="~/signalr/hubs"></script>

    <script src="~/Scripts/app/report/reportService.js"></script>
    <script src="~/Scripts/app/report/reportController.js"></script>
    <script src="~/Scripts/app/position/positionService.js"></script>
    <script src="~/Scripts/app/position/positionController.js"></script>
     <script src="~/Scripts/app/home/homeScript.js"></script>
}
