@using MvcJqGrid
@model IEnumerable<SmartFleet.Core.Domain.Customers.Customer>

<div class="box" style=" padding:10px" >
    <h3>Liste des clients</h3>

    <p>
       
        <div class="col-md-12">
            <div class="panel panel-default" style="margin-top: 5px">
                <ul class="list-group" >
                    <li class="list-group-item">
                        <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#customerModal">Nouveau</button>
                             
                    </li>
                </ul>
            </div>
            <input type="hidden" id="dicID" value="0" />
            <table id="dicTable" class="table table-bordered table-striped w100f" cellspacing="0"></table>
        </div>
        
    </p>
    @(Html.Grid("basic")
          .SetCaption("Liste des clients")
          .AddColumn(new Column("Id")
              .SetLabel("Id"))
          .AddColumn(new Column("Name"))
          .AddColumn(new Column("Email"))
          .AddColumn(new Column("Tel").SetLabel("Téléphone"))
          .AddColumn(new Column("CreationDate").SetLabel("Date de création"))
          .AddColumn(new Column("Country").SetLabel("Pays"))
          .SetUrl("/Customer/GetCustomers/")
          .SetAutoWidth(true)
          .SetRowNum(10)
          .SetRowList(new int[]{10,15,20,50})
          .SetViewRecords(true)
          .SetPager("pager"))
    @{
        Html.RenderPartial("_CreateModel");
    }
</div>
