
<div class="box" style="padding:10px" ng-controller="vehicleController" data-ng-init="">
    <h3>Liste des véhicules</h3>
    <a  data-toggle="modal" class="btn btn-default" ui-sref="AddVehicle" >
         Nouveau véhicle
    </a>
    <hr/>
    <table id="vehicle-list" class="table table-bordered table-striped table-responsive">
        <thead>
        <tr>
            <th>
                VehicleName
            </th>
            <th>
                VehicleType
            </th>
            <th>
                Brand
            </th>
            <th>
                Model
            </th>

            <th>
                Vin
            </th>
            <th>
                LicensePlate
            </th>
            <th>
                CreationDate
            </th>
            <th>
                InitServiceDate
            </th>
            <th>
                Status
            </th>
          
       
        </tr>
        </thead>
    </table>
    
</div>

