<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
     <add key="AzureSbNamespace" value="smart-fleet" />
    <add key="AzureSbPath" value="smart-fleet" />
    <add key="AzureSbKeyName" value="RootManageSharedAccessKey" />
    <add key="AzureSbSharedAccessKey" value="evhKA3nqmD2i0f+icvpdJXmj8s4ufPGz1GNxJ3j3cCA=" />
    <add key="AzureQueueFullUri" value="sb://smart-fleet.servicebus.windows.net/tk1003.sender/" />

  </appSettings>
</configuration>