<div  style="padding: 10px">
 
    <form name="userForm" class="form-horizontal">
        <fieldset>
            <div class="form-group">
                <label class="col-md-4 control-label" for="Name">UserName</label>
                <div class="col-md-5">
                    <input id="Name" ng-model="user.UserName" ng-required="true" name="Name" type="text" placeholder="" class="form-control input-md">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="Tel">Password</label>
                <div class="col-md-5">
                    <input id="Tel" ng-model="user.Password" ng-required="true" name="Tel" type="password" placeholder="" class="form-control input-md">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="Email">Email</label>
                <div class="col-md-5">
                    <input id="Email" ng-model="user.Email" ng-required="true" name="Email" type="text" placeholder="" class="form-control input-md">

                </div>
            </div>

            <!-- Select Basic -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="Country">TimeZoneInfo</label>
                <div class="col-md-5">
                    <select id="Country" ng-model="user.TimeZoneInfo" name="Country" class="form-control">
                        <option ng-repeat="option in user.TimeZoneInfos" value="{{option}}">{{option}}</option>

                    </select>
                </div>
            </div>

         
            <!-- Textarea -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="Street">PhoneNumber</label>
                <div class="col-md-5">
                    <input  class="form-control" ng-model="user.PhoneNumber" id="Street" name="Street"/>
                </div>
            </div>

        </fieldset>
       
    </form>

</div>
<script>
    $('select').select2({
        width:'220'
    });
</script>