
<div id="tachy-dashboard" style="display: none">
    <ul class="nav nav-tabs" style="font-size: 12px;margin-top: -10px;">
        <li class="active"><a data-toggle="tab" href="#home">Chronogramme</a></li>
        <li><a data-toggle="tab" href="#menu1">Trajets</a></li>
        <li><a data-toggle="tab" href="#menu2">Alertes</a></li>
    </ul>
    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <div class="row"  style="margin-left: 10px; margin-bottom: 25px">
                <h6 id="vehicle-name" class="col-md-4"></h6>
                <h6 id="date-pos" class="col-md-2"></h6>
                <h6 id="begin-ser" class="col-md-3"></h6>
                <h6 id="end-ser" class="col-md-3"></h6>
                <div class="col-md-12" id="gps-activity" style="width: 99%">

                    <div id="wait"></div>
                </div>
            </div>
        </div>
        <div id="menu1" class="tab-pane fade">
          
        </div>
        <div id="menu2" class="tab-pane fade">
           
        </div>
    </div>
    
</div> 

