
<div id="tachy-dashboard" >
  
        <div id="home" class="tab-pane fade in active">
            <div class="row"  style="margin-left: 10px; margin-bottom: 25px">
                <h6 id="vehicle-name" class="col-md-4"></h6>
                <h6 id="date-pos" class="col-md-2"></h6>
                <h6 id="begin-ser" class="col-md-3"></h6>
                <h6 id="end-ser" class="col-md-3"></h6>
                <div class="col-md-12" id="gps-activity" style="width: 95%">

                    <div id="wait"></div>
                </div>
                <h6 id="distance" class="col-md-4"></h6>
                <h6 id="speed" class="col-md-2"></h6>
            </div>
        
    </div>
    
</div> 

